@{
    Layout = "_LayoutSiswa";
    ViewData["Title"] = "Nilai Page";
}

<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title m-0">Data Nilai Siswa</h5>
            </div>
            <div class="card-body">
                <h4>Export File : </h4>
                <table class="table table-head-fixed text-nowrap" id="tableNilaiSiswa">
                    <thead>
                        <tr>
                            <th>Mata Pelajaran</th>
                            <th>Kelas</th>
                            <th>Nilai Harian</th>
                            <th>Nilai UTS</th>
                            <th>Nilai UAS</th>
                            <th>Nilai Rata-Rata</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->

    </div>
</div>