@{
    ViewData["Title"] = "Login Page";
    Layout = "_LayoutLogin";
}
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginSiswa">Login Siswa</a>

<!-- Modal -->
<div class="modal fade" id="loginSiswa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="siswa login">
                <div class="form-group">
                    <label class="form-group-float-table is-visible">Email</label>
                    <input type="email" class="form-control form-control-user"
                           id="email" name="email" aria-describedby="emailHelp"
                           placeholder="Enter Email Address Here ...">
                </div>
                <div class="form-group">
                    <label class="form-group-float-table is-visible">Password</label>
                    <input type="password" class="form-control form-control-user"
                           id="password" name="password" placeholder="Enter Password Here ...">
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">
                            Remember Me
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>