@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "ForgotPasswordSiswa Page";
}

<div class="forgotPassword-box" id="ForgotPasswordSiswa">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="~/index2.html" class="h1"><b>Admin</b>LTE</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div class="social-auth-links text-center mt-2 mb-3">
                <form>
                    <div class="input-group mb-3">
                        <input id="emailSiswaF" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="passwordSiswaF" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <!-- /.col -->
                        <button type="button" id="btn-forgetPasswordSiswa" class="btn btn-primary">Change Password</button>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>